<h1>Editing Contact</h1>

<%= render 'form', contact: @contact %>

<%= link_to 'Show', company_site_contacts_path(@company, @site, @contact) %> |

<%= link_to 'Back', company_site_contacts_path(@company, @site) %>
