<div class="row">
    <div class="form-group">
        <%= form_tag(products_path, method: :get) do %>
            <p> Search for a recipe by title </p>
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag ("Search") %>
        <% end %>
    </div>
</div>